.admin-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 9vh;
  width: 100%;
}

.QuestionResponsesByDate{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 20px 0 20px;
  color: white;
}

.Row-Headers {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.admin-Header{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.spacer{
  width: 20%;
}

.Base {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px; /* Set a max width for larger screens */
  margin: 0 auto; /* Center the base container */
}

.AdminTools {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2vh;
}

.AdminTools-SelectUserID{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AdminTools-Question-Chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Tools-Holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.ColorChanger {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Select-Device-UserID, .SelectQuestionDevice {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 370px; /* Set a max width */
  margin: 0 auto;
  height: 30px;
  font-size: 20px;
}

.QuestionData {
  width: 100%;
  max-width: 600px; /* Set a max width */
  margin: 0 auto;
}

/* Responsive Design */
@media (max-width: 768px) {
  .AdminTools {
    flex-direction: column; /* Stack elements vertically on small screens */
  }

  .Select-Device-UserID, .SelectQuestionDevice {
    width: 90%; /* Adjust width for smaller screens */
  }

  .QuestionData {
    width: 90%; /* Adjust width for smaller screens */
  }
}
