.analysis-section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.resume-input textarea,
.job-description-input textarea {
  align-items: center;
  box-sizing: border-box;
  width: 50vw;
  min-height: 25vh;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

@media (max-width: 768px) {
  /* Adjust the styles for smaller screens */
  .resume-input textarea,
  .job-description-input textarea {
    max-width: 100%; /* Allow the textarea to take full width on smaller screens */
    margin-bottom: 5px; /* Reduce margin for better spacing */
    padding: 5px; /* Adjust padding as needed */
  }
}

.analysis-button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.analysis-button:hover {
  background-color: #0056b3;
}

.textarea-container {
  position: relative;
  margin-bottom: 20px; 
}

.styled-textarea {
  width: min-height;
  min-height: 300px; 
  overflow-y: hidden; 
  padding-bottom: 50px; 
  box-sizing: border-box;
  resize: none; 
}

@media (max-width: 768px) {
  .styled-textarea {
    width: 350px; 
  }
}

.char-count {
  position: absolute;
  bottom: 30px; 
  right: 15px;
  margin: 0;
  color: #2281df58; 
  padding: 2px 5px; 
  font-size: 0.8em; 
}

.char-count-left {
  position: absolute;
  bottom: 30px;
  left: 5px;
  margin: 0px;
  color: #2281df58;
  padding: 2px 5px;
  font-size: 0.8em;
}

h5 {
  color: #2281df58;
  font-size: 0.8em;
  margin: 0;
}

.char-count-left,
.char-count-right {
  font-size: 14px;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .char-count-left,
  .char-count {
    font-size: 8px;
    margin-top: 1px;
  }
}

textarea {
  align-items: center;
  box-sizing: border-box;
  width: 50vw;
  min-height: 25vh;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
}

h4,
.char-count-total {
  width: 700px;
  text-align: center;
}
