.analysis-section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
}


.resume-input textarea,
.job-description-input textarea {
  align-items: center;
  box-sizing: border-box;
  width: 50vw; 
  min-height: 25vh;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

@media (max-width: 768px) {
  /* Adjust the styles for smaller screens */
  .resume-input textarea,
  .job-description-input textarea {
    max-width: 100%; /* Allow the textarea to take full width on smaller screens */
    margin-bottom: 5px; /* Reduce margin for better spacing */
    padding: 5px; /* Adjust padding as needed */
  };
}

.analysis-button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.analysis-button:hover {
  background-color: #0056b3;
}

.textarea-container {
  position: relative;
  margin-bottom: 20px; /* Adjust as needed */
}

.styled-textarea {
  width: min-height;
  min-height: 150px; /* Minimum height */
  overflow-y: hidden; /* Hide scrollbar */
  padding-bottom: 50px; /* Increased padding for visibility of character counts */
  box-sizing: border-box;
  resize: none; /* Optional: Disable manual resizing */
}

@media (max-width: 768px) {
  /* Adjust the width for smaller screens */
  .styled-textarea {
    width: 350px; /* Set the width to 350px for smaller screens */
  }
}

.char-count {
  position: absolute;
  bottom: 30px; /* Adjust as needed */
  right: 15px; /* Adjust as needed */
  margin: 0;
  color: rgba(14, 6, 239, 0.7); /* Optional for readability */
  padding: 2px 5px; /* Optional for better presentation */
  font-size: 0.8em; /* Adjust as needed */
}

.char-count-left {
  position: absolute;
  bottom: 30px;
  left: 5px;
  margin: 0;
  color: rgba(14, 6, 239, 0.7);
  padding: 2px 5px;
  font-size: 0.8em;
}

h5 {
  color: rgba(14, 6, 239, 0.7);
  font-size: 0.8em;
  margin: 0;
}


.char-count-left, .char-count-right {
  font-size: 14px; 
  margin-top: 5px; 
}


@media (max-width: 768px) {
  .char-count-left, .char-count {
    font-size: 8px;
    margin-top: 1px;
  }
}

textarea {
  align-items: center;
  box-sizing: border-box;
  width: 50vw; 
  min-height: 25vh;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
}