.analysis-section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
}


.resume-input textarea,
.job-description-input textarea {
  align-items: center;
  box-sizing: border-box;
  width: 50vw; 
  min-height: 25vh;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.analysis-button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.analysis-button:hover {
  background-color: #0056b3;
}
