@media (max-width: 768px) {
  .VoiceBot-container {
    max-width: 90%; /* Adjust width for smaller screens */
  }

  .previous-work-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: none;
    margin: auto;
    padding: 2%;
    text-align: center;
    box-sizing: border-box;
  }

  .Previous-Resume-Work {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: none;
    margin: auto;
    padding: 2%;
    text-align: center;
    box-sizing: border-box;
  }

  .VBButtons,
  .previous-work-section {
    flex-direction: column; /* Stack elements vertically on smaller screens */
  }
}

.logout-nav {
  display: flex;
  justify-content: space-between; /* Or 'center' based on your design */
  align-items: center;
  position: fixed;
  top: 0;
  left: 2%;
  width: 100%;
  padding: 10px;
  z-index: 1000;
}

.custom-drawer .MuiDrawer-paper {
  color: white;
  background-color: rgba(
    13,
    13,
    13,
    0.172
  ); /* Replace with your desired color */
}

.custom-menu-icon {
  color: white; /* Replace with your desired color */
}

.dashboard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding-top: 5vh;
  /* If needed, reset any default margins and paddings */
  margin: 0;
  padding: 0;
}

.finalResults-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding-top: 5vh;
  /* If needed, reset any default margins and paddings */
  margin: 0;
  padding: 0;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  z-index: -1;
}

.VoiceBot-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 2.5%;
  border: 5px solid #2281df58;
  background-color: rgb(0, 0, 0);
  border-radius: 4px;
}

.HideButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  padding: 2%;
  margin-top: 0px;
}

.VBButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95%;
  padding: 2%;
  margin-top: 0px;
}

.Main-Header {
  color: white;
  margin-top: 5%;
}

h1,
h2,
h3,
h4 {
  font-weight: bold; /* Adjust the font weight as needed */
  color: #fff; /* Text color */
  text-shadow: 0 0 5px #000000, 0 0 2px #ffffff;
}

.logout-nav {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  z-index: 1000;
}
.logout-nav a {
  color: white;
}

.instruct1,
.statMess {
  text-align: center;
  color: white;
}

.GifSpin {
  max-width: 30%;
  margin-bottom: 30px;
}

.jobOps {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 490px;
  height: auto;
  margin: auto;
  margin-bottom: 25px;
}
.resetter {
  margin: 5px 10px;
}

.VoiceBotText {
  color: white;
  background-color: black; /* Set the background color to black */
  border: 2px solid white; /* Add a border, change color and width as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center; /* Center align the text */
  border: 5px solid #2281df58;
  border-radius: 4px;
}

/* Style the scrollbar itself (in WebKit browsers) */
::-webkit-scrollbar {
  width: 8px;
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle the hover state of the thumb */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (min-width: 768px) {
  .VoiceBot-container {
    max-width: 490px;
  }
}
