.dashboard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding-top: 5vh;
  background-color: rgba(8, 8, 8, 0.172);
}

.VoiceBot-container {
  max-width: 250px; /*expand to 550px*/
  max-height: 450px;
  margin-bottom: 25px;
}

@media screen and (max-width: 738px){
  .VoiceBot-container {
    margin-left: 0px;
  }
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  margin: 10px 0 10px 0;
}

.logout-nav {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  z-index: 1000;
}

.previous-work-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: none;
  margin: auto;
  padding: 20px;
  background-color: #2280df;
  text-align: center;
  box-sizing: border-box;
}
