.final-results-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center; /* This will center the text inside the blocks */
}
  
  .final-results-section > div {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .revised-resume,
  .cover-letter {
    box-sizing: border-box;
    display: block; /* or 'inline-block' if you want them to be centered as inline elements */
    width: 50vw;
    margin: auto; /* This should center the blocks */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f9fa;
  }
  

  
  .actions button {
    padding: 10px 20px;
    margin: 10px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
  }
  
  .actions button:hover {
    background-color: #0056b3;
  }
  
  .revised-ats-score {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    background-color: #f8f9fa;
    padding: 10px 10px 25px 10px;
  }

  