.InterviewPractice {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 90vh;
    padding-top: 5vh;
    background-color: rgba(13, 13, 13, 0.172);
  }

  .Main-Header{
    width: 100%;
    text-align: center;
  }
  .interView{
    color: white;
  }

  .VoiceBotText {
    color: white;
    background-color: black; /* Set the background color to black */
    border: 2px solid white; /* Add a border, change color and width as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center; /* Center align the text */
    border:5px solid #2281df58;
    border-radius: 4px; 
  }

  .userSpeech {
    color: white;
    background-color: black; /* Set the background color to black */
    border: 2px solid white; /* Add a border, change color and width as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    text-align: center; /* Center align the text */
    border:5px solid #2281df58;
    border-radius: 4px; 
  }
  .SpeechRecButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }