.InterviewPractice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  padding: 5vh 0;
  background-color: rgba(13, 13, 13, 0.172);
}

.Main-Header {
  width: 100%;
  text-align: center;
}
.interView {
  color: white;
}

.VoiceBotText {
  color: white;
  background-color: black; /* Set the background color to black */
  border: 2px solid white; /* Add a border, change color and width as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center; /* Center align the text */
  border: 5px solid #2281df58;
  border-radius: 4px;
}

.userSpeech::placeholder {
  white-space: pre-line;
}

.userSpeech {
  color: white;
  background-color: black;
  border: 5px solid #2281df58;
  border-radius: 4px;
  width: 100%; /* Adjust width as necessary */
  height: 200px;
  margin: 0 auto; /* Centralize the textarea */
  padding: 20px;
  word-wrap: break-word;
  display: block; /* Ensure it's a block-level element */
  box-sizing: border-box; /* Include padding and border in the width */
  text-align: center;
}

.UserControls{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px; 
}

.SpeechRecButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.instruct1{
  margin-bottom: 40px;
}

.StpBttn{
  background-color: rgb(219, 45, 45);
}

.StartListeningButton{
  width:110px;
}


.submitAnswer{
  background-color: rgb(219, 138, 45);
}
.combinedSpeech {
  width: 100%;
  height: 100px;
  margin-top: 20px;
}

.combined-text-area button {
  margin-top: 10px;
}

.Interview-Answer-Box{
  color: white;
  background-color: black; /* Set the background color to black */
  border: 2px solid white; /* Add a border, change color and width as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: auto;
  text-align: center; /* Center align the text */
  border: 5px solid #2281df58;
  border-radius: 4px;
}

.interviewTipsCard{
  margin-bottom: 30px;
}

.Idialog {
  width: 90%;
  padding: 0 0 10px;
  font-size: 2.2vh;
}

.Udialog {
  width: 100%;
  text-align: left;
  overflow-wrap: break-word;
}

.openAIResponseBox{
  background-color: white;
  align-items: center;
  box-sizing: border-box;
  width: 50vw;
  min-height: 25vh;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
  text-align: left;
}

.openAIResponseBoxText{
  color: rgb(0, 0, 0);
  margin: 5px;
  text-align: left;
  padding: 0 10px 0 10px;
}

.openAIResponseBoxTitle{
  color: rgb(255, 255, 255);
  margin: 5px;
  text-align: left;
  padding: 0 10px 0 10px;
}

.VoiceBot-container {
  border: 1px solid rgb(86, 180, 239);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
}

@media (max-width: 768px) {
  .Interview-Answer-Box, .openAIResponseBox {
    width: 80%; /* Adjust width for smaller screens */
  }

.SpeechRecButtons {
    flex-direction: row; 
  }
  .StartListeningButton, .StpBttn, .submitAnswer, .clearButton{
    font-size: 1.2vh;
  }

  .Udialog, .Idialog {
    width: 100%; /* Adjust width for smaller screens */
  }
  .Idialog{
    font-size: 2.2vh;
  }
  .Udialog{
    font-size: 1.7vh;
  }
}