.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding-top: 25vh;
  width: 100%;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.button-container {
  text-align: center;
}

input[type="email"],
input[type="password"] {
  width: 25%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="email"],
input[type="password"] {
  padding: 10px;
}

form input {
  margin-bottom: 1rem;
}

input[type="email"] {
  margin-bottom: 1rem;
}

input[type="email"],
input[type="password"] {
  margin-bottom: 20px;
  display: block;
}

input[type="email"] {
  margin-bottom: 20px;
}

input[type="password"] {
  margin-bottom: 20px;
}

.login-button {
  margin-bottom: 20px;
}

.error-message {
  color: red;
}

.google-sign-in-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.google-sign-in-button img {
  margin-right: 8px;
  width: 20px;
  height: 20px;
}

.header-title {
  text-align: center;
  font-size: 5rem;
  margin-top: 0;
}



.signup-link, .pwReset-link{
  color: #f7e14f; /* Bright color for visibility */
  text-decoration: underline; /* Underline to distinguish links */
  font-weight: bold; /* Bold font for links */
}

.signup-link:hover, .signup-link:focus, .pwReset-link:hover, .pwReset-link:focus {
  color: #f69d29; /* Lighter or different color on hover/focus */
  background-color: rgba(255, 255, 255, 0.1); /* Subtle background highlight */
  outline: none; /* Removing default outline, optional */
  cursor: pointer; /* Change cursor to indicate clickable item */
}