.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20vh;
  width: 100%;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%; /* More responsive width */
  max-width: 500px; /* Maximum width */
  margin: 0 auto; /* Centering the form */
}

.button-container {
  text-align: center;
}

.Login-Input,
input[type="email"],
input[type="password"] {
  width: 90%; /* Full width for smaller screens */
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
}

form input {
  margin-bottom: 1rem;
}

input[type="email"] {
  margin-bottom: 1rem;
}

.login-button{
  margin-bottom: 1rem; /* Consistent margin */
}

.google-sign-in-button {
  margin-bottom: 1rem; /* Consistent margin */
}

.login-button {
  margin-bottom: 20px;
}

.error-message {
  color: white;
  background-color: rgb(243, 97, 97); /* Set the background color to black */
  border: 2px solid white; /* Add a border, change color and width as needed */
}

.google-sign-in-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.google-sign-in-button img {
  margin-right: 8px;
  width: 20px;
  height: 20px;
}

.header-title {
  text-align: center;
  font-size: 4rem; /* Smaller font size for smaller screens */
  margin-top: 0;
}

.signup-link,
.pwReset-link {
  color: #f7e14f; /* Bright color for visibility */
  text-decoration: underline; /* Underline to distinguish links */
  font-weight: bold; /* Bold font for links */
}

.signup-link:hover,
.signup-link:focus,
.pwReset-link:hover,
.pwReset-link:focus {
  color: #f69d29; /* Lighter or different color on hover/focus */
  background-color: rgba(255, 255, 255, 0.1); /* Subtle background highlight */
  outline: none; /* Removing default outline, optional */
  cursor: pointer; /* Change cursor to indicate clickable item */
}

.noAccount{
  padding-top: 3vh;
  font-size: 2vh;
}

.forgotPWD{
  font-size: 2vh;
}

/* Responsive Styles for Tablets */
@media (min-width: 768px) {
  .login-container {
    padding-top: 15vh;
  }

  .header-title {
    font-size: 3.5rem; /* Larger font for larger screens */
  }
}

/* Responsive Styles for Desktops */
@media (min-width: 1024px) {
  .login-container {
    padding-top: 20vh;
  }

  .header-title {
    font-size: 4rem; /* Even larger font for desktops */
  }

  form {
    width: 50%; /* Wider form for larger screens */
  }
}
