
  
  .Task-Menu, .BTN-HLDR {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }

.tagLine {
  width: 100%;
}

.tagLine {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.menu-header-title {
  text-align: center;
  font-size: 4rem; /* Smaller font size for smaller screens */
  margin-top: 150px;
}

