/* NotFound.css */
.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Set the container to full viewport height */
  text-align: center;
}

.not-found-text {
  font-size: 2rem; /* Set the font size to twice the normal size */
}
