.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Set the container to full viewport height */
    text-align: center;
    color: white;
  }
  
.Transaction{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.TransactionNumber{
  padding-top: 40px;
}

.ReceiptButtons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

  .Task-Menu, .BTN-HLDR {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

.tagLine {
  width: 100%;
}

.tagLine {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}