.documents-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  width: 100%;
  padding: 10px;
  background-color: #2280df; /* Set the background color to blue */
  text-align: center;
  box-sizing: border-box;
}

.document-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 1 calc(10% - 20px);
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  background-color: #f8f9fa;
  text-align: center;
  height: 120px;
  min-width: 100px;
  margin: 10px;
  overflow: hidden;
}

.document-container h3 {
  flex-grow: 1;
  font-size: 16px;
  height: 65px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.document-container .eScore {
  font-size: 14px;
  text-align: center;
  margin-top: auto;
}

.noDocs {
  color: #f8f9fa;
  font-size: 22px;
}
