.Tokens-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 130vh; /* Set the container to full viewport height */
  text-align: center;
  color: white;
}

.under-construction-text {
  font-size: 2rem; /* Set the font size to twice the normal size */
}

.menuGoer{
margin-top: 40px;
}

.divMsg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35%;
}

@media (max-width: 767px) {
  .divMsg {
    width: 90%;
  }

  .TokenNum,
  input[type="number"] {
    width: 100%;
  }
}

.TokenNum,
input[type="number"] {
  width: 10%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
}
