.revision-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
  }
  
  .missing-keywords,
  .revision-input {
    width: 90%; 
    margin-bottom: 20px; 
    text-align: center; 
  }
  
  .missing-keywords {
    width: 50vw;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    padding: 10px; 
    background-color: #f8f9fa;
  }

  .revision-section .missing-keywords ul {
    list-style-type: disc; 
    padding-left: 30px;
    text-align: left;
  }

  
  .revision-input textarea {
    width: min-height;
    min-height: 150px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    overflow-y: hidden; /* Hide scrollbar */
    box-sizing: border-box;
  }
  
  
  .revision-section button {
    padding: 10px 20px; 
    background-color: #007bff; 
    color: white;
    border: none; 
    cursor: pointer;
    text-align: center;
    display: block;
    border-radius: 4px;
    margin: 0 auto;
  }
  
  .revision-section button:hover {
    background-color: #0056b3; 
  }
  
  h4, .Revision-Item {
    text-align: left;
  }

