#wrap {
    width:100%;
    height: 450px;
    padding: 0;
    overflow: hidden;

  }
  
  #theBot {
    width:235%;
    height: 920px;
    border: none;
  }
  
  #theBot {
    zoom: 0.7;
    -moz-transform: scale(0.7);
    -o-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transform: scale(0.7); /* Standard property */
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0; /* Standard property */
}

.tooltip {
  display: none;
  position: fixed;
  bottom: 0; /* Align to the top of the viewport */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for center alignment */
  border: 1px solid #ccc;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
  z-index: 9999;
  width: auto; /* Adjust as needed */
  max-width: 600px; /* Maximum width */
  white-space: nowrap; /* Prevents text wrapping */
}

.show-tooltip {
  display: block;
}



 
@media (max-width: 480px) {
  #wrap {
    width:100%;
    height: 330px;
    padding: 0;
    overflow: hidden;

  }
  
  #theBot {
    width:235%;
    height: 920px;
    border: none;
  }
  
    #theBot {
      zoom: 0.7;
      -moz-transform: scale(0.7);
      -o-transform: scale(0.7);
      -webkit-transform: scale(0.7);
      transform: scale(0.51); /* Standard property */
      -moz-transform-origin: 0 0;
      -o-transform-origin: 0 0;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0; /* Standard property */
  }
}