#wrap {
    width:100%;
    height: 527px;
    padding: 0;
    overflow: hidden;

  }
  
  #theBot {
    width:235%;
    height: 920px;
    border: none;
  }
  
  #theBot {
    zoom: 0.7;
    -moz-transform: scale(0.7);
    -o-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transform: scale(0.7); /* Standard property */
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0; /* Standard property */
}

  
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    #scaled-frame {
      zoom: 1;
    }
  }